<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.TaotiquestionMapper" >
  <resultMap id="BaseResultMap" type="po.Taotiquestion" >
    <id column="taotiid" property="taotiid" jdbcType="INTEGER" />
    <id column="questionid" property="questionid" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    taotiid, questionid, score
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="po.TaotiquestionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from taotiquestion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="po.TaotiquestionKey" >
    select 
    <include refid="Base_Column_List" />
    from taotiquestion
    where taotiid = #{taotiid,jdbcType=INTEGER}
      and questionid = #{questionid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="po.TaotiquestionKey" >
    delete from taotiquestion
    where taotiid = #{taotiid,jdbcType=INTEGER}
      and questionid = #{questionid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="po.TaotiquestionExample" >
    delete from taotiquestion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="po.Taotiquestion" >
    insert into taotiquestion (taotiid, questionid, score
      )
    values (#{taotiid,jdbcType=INTEGER}, #{questionid,jdbcType=INTEGER}, #{score,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="po.Taotiquestion" >
    insert into taotiquestion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taotiid != null" >
        taotiid,
      </if>
      <if test="questionid != null" >
        questionid,
      </if>
      <if test="score != null" >
        score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taotiid != null" >
        #{taotiid,jdbcType=INTEGER},
      </if>
      <if test="questionid != null" >
        #{questionid,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="po.TaotiquestionExample" resultType="java.lang.Integer" >
    select count(*) from taotiquestion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update taotiquestion
    <set >
      <if test="record.taotiid != null" >
        taotiid = #{record.taotiid,jdbcType=INTEGER},
      </if>
      <if test="record.questionid != null" >
        questionid = #{record.questionid,jdbcType=INTEGER},
      </if>
      <if test="record.score != null" >
        score = #{record.score,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update taotiquestion
    set taotiid = #{record.taotiid,jdbcType=INTEGER},
      questionid = #{record.questionid,jdbcType=INTEGER},
      score = #{record.score,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="po.Taotiquestion" >
    update taotiquestion
    <set >
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
    </set>
    where taotiid = #{taotiid,jdbcType=INTEGER}
      and questionid = #{questionid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="po.Taotiquestion" >
    update taotiquestion
    set score = #{score,jdbcType=INTEGER}
    where taotiid = #{taotiid,jdbcType=INTEGER}
      and questionid = #{questionid,jdbcType=INTEGER}
  </update>
</mapper>